body {
    background: #e8ebe8;
}

span,
label {
    display: inline;
    font-weight: 600;
}

.inline-buttons {
    display: inline-block;
}

.inline-form {
    display: inline;
    margin-left: 5px;
}

tr:hover {
    cursor: pointer;
}

i {
    vertical-align: -7px;
}

.home {
    vertical-align: -4px;
}

.groups {
    vertical-align: -8px;
    padding-right: 7px;
    font-size: 35px;
}

.emp-img {
    width: 140px;
    height: 130px;
    border-radius: 6%;
    border: 4px solid lightslategray;
    padding: 3px;
}

.file-input {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    top: 0px;
    background-color: #75d0a5;
    text-align: center;
}

#preview {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 140px;
    height: 130px;
    position: relative;
    top: -5px;
}

.modal.fade .modal-dialog {
    transition-duration: 0.5s;
}

.nav {
    background-color: #000080;
}

.btn {
    border-color: #000080;
}

.search {
    background-color: #000080;
    color: whitesmoke;
}

.search:hover {
    background-color: white;
    border-color: #000080;
    color: #000080;
}

.required {
    color: red;
    margin-left: 5px;
}
.detail:hover {
    background-color: #008b8b;
    color: white;
}

.dropdown-menu {
    font-size: 14px;
}

.dropdown-divider {
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
}

.document:hover {
    background-color: #4808dd;
    color: white;
}

.edit:hover {
    background-color: #452c63;
    color: white;
}

.remove:hover {
    background-color: #c40233;
    color: white;
}

.create {
    background-color: #000080;
    color: white;
}

.create:hover {
    background-color: white;
    color: #000080;
    border-color: #000080;
}

.a:hover {
    background-color: #000080;
    color: white;
}

.login {
    background-color: #000080;
    color: white;
}

.login:hover {
    background-color: white;
    border-color: #000080;
    color: #000080;
}

.save {
    border-color: #000080;
    background-color: #000080;
    color: whitesmoke;
}

.save:hover {
    background-color: white;
    color: #000080;
}

.reset {
    border-color: #000080;
    color: #000080;
}

.reset:hover {
    background-color: grey;
    color: white;
}

.scroll {
    height: auto;
    overflow-y: scroll;
}

.update {
    background-color: #000080;
    color: white;
}

.update:hover {
    background-color: white;
    color: #000080;
}

.reset {
    border-color: #000080;
    background-color: white;
    color: #000080;
}

.reset:hover {
    background-color: grey;
    color: white;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-btn:hover {
    text-decoration: underline;
}

.lang_button:focus {
    outline: none;
}
